## Priklady 1

## Numbers
Napiste rovnicu za pouzitia nasobenia, delenia, umocnenia, scitavania a odcitavania aby bol vysledok rovny 100.25

In [8]:
result = (400 / 4) + (5 * 2) - (3 ** 2) + (1 / 4) - 1
print(result)  # Výstup: 100.25

100.25

Zapiste vysledky tychto tvrdeni, nasledne otestujete v kode.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [11]:
# Výrazy v Pythone
expr1 = 4 * (6 + 5)
expr2 = 4 * 6 + 5
expr3 = 4 + 6 * 5

# Výpis výsledkov
print("4 * (6 + 5) =", expr1)  # Malo by byť 44
print("4 * 6 + 5 =", expr2)    # Malo by byť 29
print("4 + 6 * 5 =", expr3)    # Malo by byť 34

4 * (6 + 5) = 44
4 * 6 + 5 = 29
4 + 6 * 5 = 34

Aky datovy typ je vysledkom tohto vyrazu? 3 + 1.5 + 4?<br><br>

Ako by ste vypocitaly 2 mocninu a odmocninu cisla 16 ?

In [14]:
# Square root:
result = (16 ** 2)
print(result)

256

In [ ]:
# Square:
result = (16  2)
print(result)

8

## Retazec - Strings

Vypiste 'e' zo stringu 'hello'

In [5]:
s = 'hello'
# Print out 'e' using indexing

'e'

## Zoznam/pole - Lists/arrays

Vytvorte list [0,0,0] .

In [11]:
# Method :

Vytvorte pole [1,1,1] pomocou kniznice numpy.

In [12]:
# Method 2:

[1 1 1]

Zoradte hodnoty v list4

In [3]:
list4 = [5,3,4,6,1]

[1, 3, 4, 5, 6]

## Slovniky Dictionaries

Pomocou kluca vypiste 'hello' z nasledujuceho slovnika(dictionary):

In [15]:
d = {'simple_key':'hello'}
# Grab 'hello'

hello

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

## Booleans

Porovnavanie, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3

In [ ]:
# Answer before running cell
3 <= 2

In [ ]:
# Answer before running cell
3 == 2.0

In [ ]:
# Answer before running cell
3.0 == 3

In [ ]:
# Answer before running cell
4**0.5 != 2

# Metody/funcie/cykly

Napiste funkciu, ktora vrati mensie z 2 cisel ak su obe parne a vacsie ak nie.

In [ ]:
# Kod

Napiste funkciu, ktora vrati True ak je sucet 2 zadanych cisel 30 alebo je jedno cislo 30, inak vrati False.

In [ ]:
#kod

Napiste funkciu ktora vrati True ak je zadane cislo vzdialene od cisla 100 alebo 200 maximalne o 10 .

In [ ]:
#Kod

Napiste funkciu kde su zadane 3 cisla od 1 do 11, ak je ich sucet mensi rovny 21 vrati ich sucet ak je ich sucet vacsi ako 21 vrati ich sucet zmenseny o 10.

In [ ]:
#Kod